@model IEnumerable<ClubJumana.DataLayer.Entities.ProductMaster>

@{
    ViewData["Title"] = "salam";
}



<p id="result">@Model.ElementAt(2).UPC</p>
<div class="row">
    <div class="col-lg-6 col-md-12" style="background-color: lavender;">
        <div class="row" style="background-color: white; padding-top: 30px;">
            <div class="col-6" style="background-image: url('@Url.Content("~/images/TowelImages/DSC_5759.jpg")'); background-repeat: no-repeat;  ">

            </div>
            <div class="col-6">
                <p style="font-size: 20px;"> Bath Towel 500</p>
                <p>Ultra Low Twist Bath Towel</p>
                <p>100% Cotton, 500 GSM</p>
                <p>Size: 27″ X 54″/ 69 X 137 CM</p>
                <p style="font-size: 20px; font-weight: bold; color: goldenrod; ">@Model.ElementAt(3).WholesalePrice.ToString() $</p>
                <p style="margin-bottom: 0px;">Bright White</p>
                <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 1rem;" />
                <p>Aqua Glass</p>
                <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 1rem;" />
                <p>Deep Taupe</p>
                <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 1rem;" />
                <p>Charcoal Gray</p>
                <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 30px;" />


            </div>

        </div>
    </div>
    <div class="col-lg-6 col-md-12" style="background-color:white;"> 
        <div class="row" style="background-color: white; padding-top: 30px;">
        <div class="col-6" style="background-image: url('@Url.Content("~/images/TowelImages/DSC_5578.jpg")'); background-repeat: no-repeat;  ">

        </div>
        <div class="col-6">
            <p style="font-size: 20px;"> Bath Towel 400</p>
            <p>Zero Twist Bath Towel</p>
            <p>100% Cotton, 400 GSM</p>
            <p>Size: 27″ X 54″/ 69 X 137 CM</p>
            <p style="font-size: 20px; font-weight: bold; color: goldenrod; ">@Model.ElementAt(2).WholesalePrice.ToString() $</p>
            <p style="margin-bottom: 0px;">Bright White</p>
            <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 1rem;" />
            <p>Aqua Glass</p>
            <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 1rem;" />
            <p>Deep Taupe</p>
            <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 1rem;" />
            <p>Charcoal Gray</p>
            <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 30px;" />


        </div>

    </div></div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12" style="background-color: lavender;">
        <div class="row" style="background-color: white; padding-top: 30px;">
            <div class="col-6" style="background-image: url('@Url.Content("~/images/TowelImages/DSC_6633.jpg")'); background-repeat: no-repeat;  ">

            </div>
            <div class="col-6">
                <p style="font-size: 20px;"> Bath Towel 350</p>
                <p>100% Cotton, 350 GSM</p>
                <p>Size: 27″ X 54″/ 69 X 137 CM</p>
                <p style="font-size: 20px; font-weight: bold; color: goldenrod; ">@Model.ElementAt(4).WholesalePrice.ToString() $</p>
                <p style="margin-bottom: 0px;">Bright White</p>
                <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 1rem;" />
                <p>Aqua Glass</p>
                <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 1rem;" />
                <p>Silver Lining</p>
                <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 1rem;" />
                <p>Charcoal Gray</p>
                <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 30px;" />


            </div>

        </div>
    </div>
    <div class="col-lg-6 col-md-12" style="background-color:white;">
        <div class="row" style="background-color: white; padding-top: 30px;">
            <div class="col-6" style="background-image: url('@Url.Content("~/images/TowelImages/DSC_7577.jpg")'); background-repeat: no-repeat;  ">

            </div>
            <div class="col-6">
                <p style="font-size: 20px;"> Hand Towel 500</p>
                <p>Ultra Low Twist Bath Towel</p>
                <p>100% Cotton, 500 GSM</p>
                <p>Size: 16″ X 28″/ 40 X 70 CM</p>
                <p style="font-size: 20px; font-weight: bold; color: goldenrod; ">@Model.ElementAt(5).WholesalePrice.ToString() $</p>
                <p style="margin-bottom: 0px;">Bright White</p>
                <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 1rem;" />
                <p>Aqua Glass</p>
                <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 1rem;" />
                <p>Deep Taupe</p>
                <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 1rem;" />
                <p>Charcoal Gray</p>
                <input class="form-control" type="text" name="[0].Title" style="max-width: 80px; margin-bottom: 30px;" />
            </div>

        </div>
    </div>
</div>
<div class="row">

</div>

